*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

header{
    width: 100%;
    height: 30%;
    background-color: rgb(63, 59, 59);
}


    /*ESTO ES LA PÁGINA PRINCIPAL*/
.welcome{
    width: 100%;
    height: 1080px;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}    

.navbar-logo{
   width: 20%;
   display: flex;
   justify-content: center;
}

.navbar-logo__img{
    width: 120px;
    height: 100%;
}

.navbar-list{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-list__link{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    font-family: "Helvetica", Sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

.background-imagen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}



/*ESTO ES LA PÁGINA CONCEPTO*/

.concept{
    width: 100%;
    height: 1080px;;
}

.backgroundConcept-img{
    background-image: linear-gradient(rgb(255, 254, 254, 0.8), rgba(255, 254, 254, 0.8)), url('./images/fondo-palmeras1.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.concept-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 41, 41);
    width: 500px;
    height: 400px;
    margin: 50px 0 50px 0; 
    color: aliceblue;
}

.concept-centre__title{
    text-transform: uppercase;
    font-family: "Helvetica", Sans-serif;
    font-size: 20px;
    font-weight: inherit;
    letter-spacing: 8px;
    text-align: center;
    position:relative;
}

/*.concept-centre__title:before{
    content: "";
    display: block;
    width: 120px;
    height:2px;
    background: aliceblue;
    position: absolute;
    left: 0;
    top: 50%;
}

.concept-centre__title:after{
    content: "";
    display: block;
    width: 120px;
    height:2px;
    background: aliceblue;
    position: absolute;
    right: 0;
    top: 50%;
}*/

.concept-centre__p{
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 16px;
    text-align: justify;
    padding: 20px 60px 0 60px;
}


/*ESTO ES LA PÁGINA GALERIA*/

.gallery{
    height: 1080px;
    background-color: rgb(7, 39, 7);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;

}

.gallery-collage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.gallery-img{
    padding: 6px;
}


/*ESTO ES LA PÁGINA CARTA*/
.carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-menu{
    font-family: "Helvetica", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
    margin: 60px 0 30px 0;
    position: relative;
}

.title-menu:before{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: #000;
    position: absolute;
    left: 9rem;
    top: 50%;
    z-index: -2;
    }

.title-menu:after{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: #000;
    position: absolute;
    right: 9rem;
    top: 50%;
    z-index: -2;
    }

.navbar-list1{
    display: flex;
    justify-content: center;
    font-family: "Helvetica", Sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
}

.navbar-list1__link{
    padding: 20px 40px;
    text-decoration: none;
    color: black;
}
.navbar-list1__link:hover{
    text-decoration: underline olive 3px;
}

/*Esto es el menú*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-image: url(./images/fondo-palmeras2.jpeg);
    width: 50%;
    background-size: contain;
    background-position: center;
    font-family: "Helvetica", Sans-serif;
    font-size: 7px;
    font-weight: light;
    letter-spacing: 1px;
    padding: 40px 0px;
}
li{
    padding: 5px 0;
}

    /*Menú izquierda*/

.menu-left{
    background-color: white;
    width: 350px;
    height: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    align-items: baseline;
    grid-column-start: 1;
    align-content: stretch;
    justify-content: space-between;
}
.menu-left__items{
    width: 200px;
    height: 600px;
    grid-column-start: 1;
    padding: 30px;
}
.menu-left__value{
    width: 100px;
    grid-column-start: 2;
}
.menu-left__value__price{
    padding: 15px 0;
}
.menu-left__items__title{
    padding: 5px 0;
}

    /*Menú derecha*/

.menu-right{
    background-color: white;
    width: 350px;
    height: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    grid-column-start: 2;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
}
.menu-right__items{
    width: 200px;
    height: 600px;
    grid-column-start: 3;
}
.menu-right__value{
    width: 100px;
    grid-column-start: 4;
}
.menu-right__value__price{
    padding: 13px 25px;;
}
.menu-right__items__title{
    padding: 5px 0;
}

/*Esto es el botón de la carta*/

.button-menu{
    text-align: center;
}

.button-menu__breakfast{
    background-color: rgb(184, 130, 60);
    border: none;
    color: aliceblue;
    padding: 10px 15px;
    margin: 20px 0 50px 0;
    text-align: center;
    font-size: 8px;
    font-family: "Helvetica", Sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*ESTO ES LA PÁGINA DE RESERVA*/

.booking{
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/fondo-palmeras1.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    
}

.booking-title{
    display: flex;
    justify-content: center;
    position: relative;
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
    padding: 60px;
}

.booking-title:before{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 0;
    }

.booking-title:after{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    right: 25%;
    top: 50%;
    z-index: 0;
    }

.booking-main{
    display: grid;
    grid-template-columns: 2fr, 1fr;
    justify-content: center;
    align-items: start;
    gap: 30px;
    height: 700px;
    
}
/*esto es el formulario*/
.booking-form__book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    grid-column: 1;
}

.booking-form__book-people{
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: light;
    letter-spacing: 1px;
}   
.peopleNumber{
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    border: 1px solid aliceblue;
}

.booking-form__book-time{
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: light;
    letter-spacing: 1px;
}   
.bookingTime{
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    border: 1px solid aliceblue;
    
}

.booking-form__book-table{
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: light;
    letter-spacing: 1px;
}   
.bookingTable{
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    border: 1px solid aliceblue;
    
}
/*estos son los botones*/
.booking-form__book-submitButton{
    
}
.submitButton{
    width: 100%;
    padding: 8px;
    margin: 35px 0 10px 0;
    border: none;
    background-color: white;
}
.booking-form__book-extraButtons{
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: light;
    letter-spacing: 1px;
    padding: 30px 0;;
}
.waitingButton{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    background-color: white;
}
.groupButton{
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    border: none;
    background-color: white;
}
/*esto es la dirección*/
.booking-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    grid-column: 2;
}

.booking-name__infoTitle{
    color: rgb(184, 130, 60);
    font-family: "Helvetica", Sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
}
.booking-name__infoType{
    color: rgb(255, 255, 255);
    font-family: "Helvetica", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
}
.booking-name__infoAddress{
    color: rgb(255, 255, 255);
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 50px 0;
}
p{
    padding: 2px;
}

/*ESTO ES LA PÁGINA DE BLOG*/

.blog-title{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
    padding: 60px;
    position: relative;
}

.blog-title:before{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    left: 28%;
    top: 50%;
    z-index: 0;
    }

.blog-title:after{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    right: 28%;
    top: 50%;
    z-index: 0;
    }

.blog-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    padding: 0 110px;
}
.blog-photo{
    width: 400px;  
    padding: 15px;
}

.blog-button{
    text-align: center;
    padding: 30px;
}
.blog-button__post{
    background-color: rgb(184, 130, 60);
    border: none;
    color: aliceblue;
    padding: 16px 35px;
    margin: 80px 0 50px 0;
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica", Sans-serif;
    font-weight: light;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2px;
}

/*ESTO ES LA PÁGINA DE CONTACTO*/

/*esto es el header*/

.contact-header{
    width: 100%;
    height: 30%;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-header__logo{
    padding-top: 150px;
}

.contact_header__text{
    color: aliceblue;
    font-family: "Helvetica", Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
    padding: 70px;

}

.contact-header__info{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 50px;
}
.contact-header__info-text{
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 20px;
    text-align: center;
}
.contact-header__info-icon{
    height: 30px;
    width: 30px;
}
.contact-header__info-address{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.contact-header__info-phone{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.contact-header__info-email{
    display: grid;
    align-items: center;
    justify-items: center;
   
}

/*esto es el main*/
.contact-main{
    
}
.contact-main__title{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 8px;
    padding: 60px;
    position: relative;
}

.contact-main__title:before{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 0;
    }

.contact-main__title:after{
    content: "";
    display:block;
    width: 300px;
    height:2px;
    background: rgb(184, 130, 60);
    position: absolute;
    right: 25%;
    top: 50%;
    z-index: 0;
    }

.contact-main__buttons{
    display: flex;
    margin: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
.contact-main__button{
    padding: 10px 30px;
    margin: 10px 50px;
    background-color: white;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 4px;
}

/*esto es el footer*/
.contact-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: rgb(243, 243, 243);
    padding: 20px 50px 100px 50px;
}

.contact-footer__link{

}
.contact-footer__schedule{

}
.contact-footer__contact{

}

.contact-footer__title{
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 2px;
    padding: 50px 0 7px 0;
}
.contact-footer__text{
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 3px ;
}
.contact-footer__link{
    color: black;
    font-family: "Helvetica", Sans-serif;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 3px ;
}